@using Sample.AspNetMvc.Models.Home
@using Arebis.Core.Extensions
@model IndexModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2><code>asp-if</code> demo</h2>
@{
    int a = 5;
}
<div id="alt5" asp-if="a < 5">
    a &lt; 5
</div>
<div id="alt10" asp-elsefor="alt5" asp-if="a < 10">
    a &lt; 10
</div>
<div id="agt9" asp-elsefor="alt5">
    a &gt;= 10
</div>

<h2 class="mt-4">Pagination Nav &amp; PageSize Select</h2>

<form class="onchange-submit">
    <span class="float-end">
        <pagesize-select asp-for="PageSize" class="form-select"></pagesize-select>
    </span>
    <pagination-nav asp-for="PageIndex" max="104" style-template="small" keyboard="true" previous-text="Précédent" next-text="Suivant" />
</form>
